@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

#container{
	max-width: 1300px;
	margin: auto;
}
body{	
	font-family: 'Raleway', sans-serif;
}

/*Header*/
.containerheader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#logo{
	margin: 0;
}
.logo{
	height:50px;
	width: 95px;
}
.headerNav{
	display: flex;
}
.containerheader nav ul{
    list-style-type: none;
    display:flex;
    padding: 0;
}
.headerNav ul{
	margin-block-start:0;
	margin-block-end:0;
}
.headerNav nav li{
	margin-right: 20px;
}
.headerNav li{
	border-top: transparent;
	padding: 30px;
	transition:all 400ms;
}
li:hover{
	color:#0065FC;
	border-top: solid;
	border-color:#0065FC;
}
a{
	text-decoration:none;
	color: black;
}
.inscrire{
	font-weight: bold;
	color: #0065FC;
	margin-right: 0;
}
.search{
	display: flex;
	margin-top: 20px;
}
.input-group{
	border:solid;
	border-width: 1px;
	border-color:#F2F2F2;
	display: flex;
	flex-direction: row;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px; 
}
.input-group input{	
	height: 35px;
	border-bottom-left-radius: 10px;
	border-top-left-radius:10px;
	border: none;
	display: flex;
	align-items:center;
	margin-left: 7px;
}
.input-group input::placeholder{
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.iconemap{
	background-color:#F2F2F2; 
	height: 40px;
	width: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px; 
	display: flex;
	align-items:center;
	justify-content: center;
}
button{
	background-color: #0065FC;
	border:none;
	color: #fff;
	height: 42px;
	overflow: hidden;
	cursor: pointer;
	border-bottom-right-radius:10px;
	border-top-right-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
}
button:hover {
	background-color: #0292f1
}
button:active {
  background-color: #0292f1;
  transform: translateY(2px);
}
.Filtres{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.filtres2{
	margin-right: 30px;
	margin-top: 20px;
	padding: 5px;
	font-weight: bold;
}
.iconenom{
	display: flex;
	margin-right: 30px;
	margin-top: 20px;
	border: solid;
	border-width:1px;
	border-color: #F2F2F2;
	border-radius: 20px;
	align-items:center;
	font-size: 14px;
	font-weight:bold;
	border-left:none;
	padding-right:8px;
	padding-top:1px;
	padding-bottom:1px;
	transition:all 400ms;
}
.iconenom:hover{
	background-color:#DEEBFF;
	border:solid;
	border-color:#0065FC;
	border-width:2px;
}
.iconemoney{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius:40px;
	padding:10px;
	background-color:#DEEBFF;
	margin-right:8px;
	font-size:15px;
}
.iconeman{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius: 40px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color:#DEEBFF;
	margin-right: 8px;
}
.iconecoeur{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius: 40px;
	padding: 10px;
	background-color:#DEEBFF;
	margin-right: 8px;
}
.iconedog{
	border:transparent;
	border-color:#0065FC;
	color:#0065FC;
	border-radius: 40px;
	padding: 10px;
	background-color:#DEEBFF;
	margin-right: 8px;
}

/*info*/
.info{
	display: flex;
	flex-direction: row;
	align-items:center;
	margin-bottom: 20px;
}
.iconeinfo
{
	border: solid;
	border-width: 2px;
	border-color: #F2F2F2;
	border-radius: 50%;
	padding-right:7px;
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #0065FC;
	margin-top: 20px;
	font-size: 13px;
}
.infophrase{
	margin-left: 7px;
	margin-top: 20px;
	font-size: 12px;
}
h1{
	font-size: 25px;
	font-weight: bold;
}

/*Hébergements*/
.allsection{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
#section1{
	display: flex;
	flex-wrap: wrap;
	width: 786px;
	background-color: #F2F2F2;
	padding: 20px;
	border-radius: 17px;
	margin: 0;
	margin-right: 40px;
}
.hebergements{
	margin-block-end:0;
	margin-block-start:0;
	position: absolute;
	margin-left: 20px;
	font-size: 20px;
}
.cases1{
	background-color: #fff;
	border-radius: 17px;
	padding: 1px;
	border:solid;
	border-color: #fff;
	margin: 10px;
	margin-top: 35px;
	height: auto;
	width: auto;
	font-size: 12px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	transform: scale(1);
	transition: 400ms;
}
.cases1:hover{
	transform: scale(1.05);
}
.images1{
	height: 110px;
	width:230px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}
.txt1{
	display: flex;
}
.prix1{
	margin:6px;
}
p{
	margin:0;
}
h2{
	margin-block-end:0;
    margin-block-start:0;
    font-size: 20px;
    margin:6px;
}
.iconestar1{
	display: flex;
	flex-direction: row;
	color: #0065FC;
	margin:6px;
}
.greystar{
	color: #F2F2F2;
}

.afficherplus{
	font-weight: bold;
	margin-top: 20px;
	margin-left:20px;
	margin-bottom:10px;
}

/*Les plus populaires*/
#section2{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width: 300px;
	padding: 20px;
	border-radius: 17px;
}
.titre2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.populaires{
	font-size:20px; 
	margin-left: 10px;
}
.cases2{
	display: flex;
	flex-direction:row;
	background-color: #fff;
	border-radius: 17px;
	padding: 1px;
	border:solid;
	border-color: #fff;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	transform: scale(1);
    transition: 400ms;
}
.cases2:hover{
    transform: scale(1.05);
}
.images2{
	height: 127px;
	width:115px;
	border-bottom-left-radius: 17px;
	border-top-left-radius: 17px;
	display: flex;
	object-fit: cover;
}
.txt2{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	justify-content: left;
}
.prix2{
	margin-left: 5px;
}
.iconestar2{
	display: flex;
	flex-direction: row;
	color: #0065FC;
	margin: 0;
	margin-top: 30px;
	margin-left: 5px;
}

/*Activités*/
#section3{
	display: flex;
	margin-top: 30px;
}
.bloc3{

	display: flex;
}
#activites{
	position: absolute;
	margin-left: 25px;
	font-size: 20px;
	font-weight: bold;
}
.cases3{
	background-color: white;
	border-radius: 17px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	margin-top: 58px;
	margin-right: 20px;
	margin-left: 20px;
	padding-bottom: 0;
	transform: scale(1);
	transition: 400ms;
}
.cases3:hover{
	transform: scale(1.05);
}
h3{
	font-size: 14px;
	font-weight: bold;
	margin-block-start:0;
	margin-block-end:0;
}
.images3{
	height: 300px;
	width:260px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}
.images3petit{
	height: 105px;
	width: 255px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
	object-fit: cover;
}
.imgpetit{
	display: flex;
	flex-direction: column;
}
.txt3{
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 4px;
}

/*footer*/
footer{
	width: 100%;
	background-color: #F2F2F2;
	color: #000;
}
.contenu-footer{
	display: flex;
    justify-content: center;
    align-items: flex-start;
	font-size: 14px;
    padding: 50px 0 50px;
}
.footertxt{
	display: flex;
	flex-direction: column;
	margin-right:150px;
	margin-left: 40px;
	line-height: 2;
	font-weight: lighter;
	justify-content: center;
	cursor: pointer;
	color: #000;
}
.footertitle{
	font-size: 20px;
	font-weight: bold;
}
.footertxt a{
	text-decoration: none;
	color: #000;
}