@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

#container{
    max-width: 1200px;
}

/*--nav--*/
#header{
    position: sticky;
    z-index: 10;
}

.navbar .navbar-brand img{
    height: 80px;
    padding-left: 30px;
}

.navbar .navbar-nav li{
    padding: 0 10px;
}

.navbar .navbar-nav li a{
    float: right;
    text-align: left;
}

#header .navbar ul li a:hover{
    color: #0065FC!important;
}

.navbar .navbar-toggle{
    border: none!important;
}

.navbar-nav .nav-link{
    color: #000!important;
    font-weight: 600;
    font-size: 16px;
}

/*--En-tete--*/
.mt-1 .container{
    margin-left: 40px;
}
.mt-1 .container h1{
    font-size: 25px;
    font-weight: bold;
}
.mt-1 .container .input-group{
    width: 50%;
}
.input-group-prepend .input-group-text{
    border-radius: 10px;
}
.input-group-prepend .input-group-text i{
    color: #000;
}
.input-group .form-control::placeholder { 
    color: #000;
    font-weight: bold;
}
.input-group-append .input-group-text{
    background-color: #0065FC;
    color: #fff;
    border-radius: 10px;
}
.wrapper h4{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
.wrapper .button{
    display: inline-block;
    height: 50px;
    width: 200px;
    float: none;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.button:hover {background-color: #DEEBFF}
/*.wrapper .button:hover{
    width: 200px;
}*/
.wrapper .button .icon{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    background: #DEEBFF;
}

.wrapper .button .icon i{
    font-size: 20px;
    line-height: 60px;
    color: #0065FC;
}
.wrapper .button  span{
    font-weight: bold;
    line-height: 60px;
    margin-left: 10px;
}

/*hebergement*/
.hebergement .container{
    margin: 50px;
    padding-top: 50px;
    display: block;
    justify-content: center;
    border-radius: 10px;
    background: #F2F2F2;
}
.hebergement .container h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    transition: 0.3s;
}

.hebergement .single-dest{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 30px;
}
.hebergement .single-dest .thumb{
    position: relative;
    overflow: hidden;
}
.hebergement .single-dest .thumb img{
    width: 100%;
}
.hebergement .single-dest .dest-info{
    padding: 27px 20px 25px 20px;
}
.hebergement .single-dest .dest-info h4{
    font-size: 18px;
    font-weight: bold;
    color: #040e27;
    margin-bottom: 0;
    transition: 0.3s;
}
.hebergement .single-dest .dest-info p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    margin-top: 2px;
    margin-bottom: 7;
    transition: 0.3s;
}
.hebergement .single-dest .dest-info a{
    font-size: 14px;
    font-weight: light;
    font-weight: bold;
    color: #000;
}

.hebergement .single-dest .dest-info .rating span i{
    font-size: 12px;
    color: #0065FC;
}
.hebergement .single-dest .dest-info .rating span a{
    font-size: 14px;
    color: #000;
    margin-left: 5px;
}
.hebergement .single-dest .dest-info .rating .days i{
    margin-right: 8px;
}
.hebergement .single-dest .dest-info .rating .days a{
    font-size: 14px;
    color: #000;
}
.hebergement .single-dest:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.hebergement .single-dest:hover .dest-info h3{
    color: #030942;
}
.hebergement .single-dest:hover .thumb .price{
    background: #0292f1;
}

/*populaire*/
.populaire .container{
    max-width: 1140px;
    margin: 50px;
    padding-top: 50px;
    display: block;
    justify-content: center;
    border-radius: 10px;
    background: #F2F2F2;
}
.populaire .container h3{
    font-size: 25px;
    font-weight: bold;
    color: #040e27;
    margin-bottom: 0;
    transition: 0.3s;
}
.populaire .single-dest{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 30px;
}
.populaire .single-dest .thumb{
    position: relative;
    overflow: hidden;
}
.populaire .single-dest .thumb img{
    width: 100%;
}
.populaire .single-dest .dest-info{
    padding: 27px 20px 25px 20px;
}
.populaire .single-dest .dest-info h4{
    font-size: 22px;
    font-weight: bold;
    color: #040e27;
    margin-bottom: 0;
    transition: 0.3s;
}
.populaire .single-dest .dest-info p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    margin-top: 2px;
    margin-bottom: 7;
    transition: 0.3s;
}
.populaire .single-dest .dest-info a{
    font-size: 14px;
    font-weight: light;
    font-weight: bold;
    color: #000;
}

.populaire .single-dest .dest-info .rating span i{
    font-size: 12px;
    color: #0065FC;
}
.populaire .single-dest .dest-info .rating span a{
    font-size: 14px;
    color: #000;
    margin-left: 5px;
}
.populaire .single-dest .dest-info .rating .days i{
    margin-right: 8px;
}
.populaire .single-dest .dest-info .rating .days a{
    font-size: 14px;
    color: #000;
}
.populaire .single-dest:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.populaire .single-dest:hover .dest-info h3{
    color: #030942;
}
.populaire .single-dest:hover .thumb .price{
    background: #0292f1;
}

/*Activités*/


/*Footer*/
footer {
    width: 100%;
    background: #F2F2F2;
    color: #000;
}
.contenu-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* Services */
.liste{
    list-style-type: none;
}
.liste li {
    padding: 2px 0;
}
.contenu-footer .liste a {
    text-decoration: none;
    color: #000;
}
.liste a:hover {
    color: rgb(3,3,3);
}